.link {
  color: var(--main-primary);
  font-weight: 600;
  text-decoration: underline dashed currentColor;
  text-decoration-thickness: .5px;
  text-underline-offset: 3px;
  &:hover,
  &:focus {
    color: var(--main-secondary);
  }
}

.button {
  border-radius: 20px;
  padding: 12px 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: var(--main-primary);
  color: var(--ui-white);
  position: relative;
 

  &:hover,
  &:focus {
    &, &:before {
      opacity: .3;
      
    }
  }
  svg {
    width: 24px;
    height: 24px;
    fill: var(--ui-white);
  }
  &_sm {
    min-width: 183px;
    min-height: 52px;
    
  }
  &_md {
    min-width: 252px;
    min-height: 64px;
    padding: 18px 36px;
  }
  &_lg {
    min-width: 284px;
    font-size: 20px;
    min-height: 76px;
    padding: 24px 36px;
  }
  &_xl {
    min-width: 303px;
    font-size: 18px;
    min-height: 72px;
    padding: 22px 36px;
  }

  &:before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: var(--border-gradient);
    border-radius: 20px;
    z-index: -1;
    transition: .5s;
  }

  &_white {
    background: var(--ui-black);
    &:before {
      background: currentColor;
    }
  }

  &_rounded {
    &, &:before {
      border-radius: 1000px;
    }
  }

  &_black {
    background: var(--ui-black);
  }

  &_gradient {
    background: var(--primary-gradient);
  }
  &_semirounded {
    &, &:before {
      border-radius: 30px 16px 16px 16px;
    }
  }
}