
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 22px;
  background: var(--grey-bg);

}

.phone {
  color: var(--grey-text);
  font-weight: 700;
  text-decoration: none;
}