:root {
  --main-primary: #535FE6;
  --main-secondary: #20C1CF;
  --main-tertiary: #EB5844;

  --ui-black: #1D1E22;
  --ui-dark-gray: #23252F;
  --ui-gray: #5E647A;
  --ui-light-gray: #F7FAFF;
  --ui-white: #FFF;

  --border-gradient: linear-gradient(-225deg, rgba(83, 95, 230, 1), rgba(32, 193, 207, 0.33), rgba(83, 95, 230, 0.34));
  --primary-gradient: linear-gradient(324deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
  
  --black-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.22);

}